nav {
    .navContainer {
        &__logo {
            img {
                width: 90px;
            }
        }
        &__items {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $bg-quinary;
                        @include padding-margin(10px,20px);
                        border: solid 1px black;
                        border-radius: 8px 8px 8px 8px;
                        text-decoration: none;
                        /* background-repeat: no-repeat; */
                        transition: all 1s ease;
                        &:hover {
                            background-size: 100% ;
                            color: $bg-quaternary;
                            background: linear-gradient(rgb(0, 98, 128), rgb(199, 255, 192));

                        }
                        &.active {
                            background-size: 100%;
                            background: linear-gradient(rgb(0, 98, 128), rgb(199, 255, 192));
                            color: $bg-quaternary;
                        }
                    }
                } 
             }
        }
    }
    background-color: $bg-quaternary;
}